<!-- banner start -->
<div class="full-width project-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>CONTACT US</h2>
            </div>
        </div>
    </div>
</div>
<div class="full-width project-divider"></div>
<!-- banner end -->

<!-- form start -->
<div class="full-width contact-form-section">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
            <div class="full-width title-section">
                <h5>CONTACT GOLDENBLATT FAMILY LAW</h5>
                <h2>Call us today, leave a message,<br>
                    email or find your nearest<br>
                    office below.</h2>

                <button class="btn btn-contact button black-simple more">1-800-643-4300</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
            <div class="full-width form-sec">
                <h5 class="text-center">GET A FREE CALLBACK</h5>

                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6"><input type="text" name="" id="" class="form-control" placeholder="Name*"></div>
                        <div class="col-md-6"><input type="text" name="" id="" class="form-control" placeholder="E-mail*"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><input type="text" name="" id="" class="form-control" placeholder="Telephone*"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Details*"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-contact button black-simple more">SUBMIT</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- form ends -->