<!-- banner start -->
<div class="full-width project-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>BEST PROJECT SOLUTIONS</h2>
                <h4>WITH US</h4>
                <h2>"STUDENT'S PROJECTS"</h2>
            </div>
        </div>
    </div>
</div>
<div class="full-width project-divider"></div>
<!-- banner end -->

<div class="full-width project-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h3 class="text-center">Electronics Projects</h3>
                <hr class="full-width line-hr">
                <p class="text-center"><i>We not only do coding but also  erat vitae odio placerat, vel malesuada mi convallis. In quis faucibus quam. Proin cursus et pretium!</i></p>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width image-sec">
                    <figure>
                        <img src="/assets/images/trade05-1428x1000.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width desc-sec">
                    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
                
                    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
                    <a class="btn btn-contact" routerLink="/contact-us">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="full-width time-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="full-width text-area-head">
                    <h4 class="text-center">``The time is always right to do what is right!``</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="full-width ece-sec">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width desc-ece">
                    <h2>Project Name Here</h2>
                    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
                
                    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
                    <a class="btn btn-contact" routerLink="/contact-us">More Info..</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width image-sec">
                    <figure>
                        <img src="/assets/images/trade05-1428x1000.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="full-width project-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width image-sec">
                    <figure>
                        <img src="/assets/images/trade05-1428x1000.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width desc-sec">
                    <h2>Project Name Here</h2>
                    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
                
                    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
                    <a class="btn btn-contact" routerLink="/contact-us">More Info..</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-width ece-sec">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width desc-ece">
                    <h2>Project Name Here</h2>
                    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
                
                    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
                    <a class="btn btn-contact" routerLink="/contact-us">More Info..</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width image-sec">
                    <figure>
                        <img src="/assets/images/trade05-1428x1000.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-width project-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width image-sec">
                    <figure>
                        <img src="/assets/images/trade05-1428x1000.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="full-width desc-sec">
                    <h2>Project Name Here</h2>
                    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
                
                    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
                    <a class="btn btn-contact" routerLink="/contact-us">More Info..</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="full-width project-talk">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 col-sm-6 col-12">
                <h3 class="text-center">Have a project you'd like to talk about?</h3>
                <hr class="full-width line-hr">
                <p><i>Sed consequat erat vitae odio placerat, vel malesuada mi convallis we can help!</i></p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 col-sm-6 col-12 text-center">
                <button class="btn btn-talk">CONTACT US</button> <button class="btn btn-talk">VIEW SHOWCASE</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

