<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="full-width owl-banner banner">
    <div class="full-width">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="item">
                <figure>
                    <img src="/assets/images/trade22.jpg" alt="banner" title="banner">
                </figure>
                <div class="banner-content full-width text-center">
                    <div class="full-width text-center banner-img">
                        <img src="/assets/images/slider-trade-logo.png" alt="">
                    </div>
                    <div class="banner-info full-width">
                        <h1>Software Development</h1> 
                        <h2>DONE RIGHT</h2>
                    </div>
                    <div class="banner-btn full-width text-center">
                        <a class="btn btn-default text-capitalize exp-info" href="#" role="button">LEARN MORE ABOUT US</a>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <figure>
                    <img src="/assets/images/trade06.jpg" alt="banner" title="banner">
                </figure>
                <div class="banner-content full-width text-center">
                    <div class="full-width text-center banner-img">
                        <img src="/assets/images/slider-trade-logo.png" alt="">
                    </div>
                    <div class="banner-info full-width">
                        <h1>Software Development</h1> 
                        <h2>DONE RIGHT</h2>
                    </div>
                    <div class="banner-btn full-width text-center">
                        <a class="btn btn-default text-capitalize exp-info" href="#" role="button">LEARN MORE ABOUT US</a>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <figure>
                    <img src="/assets/images/trade19.jpg" alt="banner" title="banner">
                </figure>
                <div class="banner-content full-width text-center">
                    <div class="full-width text-center banner-img">
                        <img src="/assets/images/slider-trade-logo.png" alt="">
                    </div>
                    <div class="banner-info full-width">
                        <h1>Software Development</h1> 
                        <h2>DONE RIGHT</h2>
                    </div>
                    <div class="banner-btn full-width text-center">
                        <a class="btn btn-default text-capitalize exp-info" href="#" role="button">LEARN MORE ABOUT US</a>
                    </div>
                </div>
              </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>


<div class="full-width looking-for-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h3 class="text-center">What are you looking for?</h3>
                <hr class="full-width line-hr">

                <p class="text-center"><i>We are software outsourcing company lorem ipsum dolor. We provide bibendum leo scelerisque glavrida dolor.</i></p>
            
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="full-width looking-for-div text-center">
                    <img src="/assets/images/laptop.svg" alt="">
                </div>
                <div class="full-width caption-looking text-center">
                    <a href="#" class="text-center">Web Application Development</a>
                </div>
            </div>
             <div class="col-md-4 col-sm-4 col-12">
                <div class="full-width looking-for-div text-center">
                    <img src="/assets/images/phone.svg" alt="">
                </div>
                <div class="full-width caption-looking text-center">
                    <a href="#" class="text-center">Web Application Development</a>
                </div>
            </div>
             <div class="col-md-4 col-sm-4 col-12">
                <div class="full-width looking-for-div text-center">
                    <img src="/assets/images/people.svg" alt="">
                </div>
                <div class="full-width caption-looking text-center">
                    <a href="#" class="text-center">Web Application Development</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="full-width help-you-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h3 class="text-center">How can we help you?</h3>
                    <hr class="full-width line-hr">
    
                    <p class="text-center"><i>Our job is nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan, quis maximus urna venenatis.</i></p>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-laptop"></i><span>Agile Team</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div ">
                                <i class="fas fa-code"></i><span>Clean Code</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div ">
                                <i class="fas fa-gem"></i><span>Cost Effective</span>
                        </div>        
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-project-diagram"></i><span>Scrum</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-thumbs-up"></i><span>Quality Program</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-check-square"></i><span>Transparent & Honest</span>
                        </div>        
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-sticky-note"></i><span>TDD</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-rocket"></i><span>Innovative</span>
                        </div>        
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="full-width help-div">
                                <i class="fas fa-lightbulb"></i><span>Creative</span>
                        </div>        
                    </div>
            </div>
        </div>
    </div>


    <div class="full-width time-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="full-width text-area-head">
                        <h4 class="text-center">``The time is always right to do what is right!``</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="full-width project-sec">
    <div class="container">
        <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h3 class="text-center">OUR LATEST PROJECTS</h3>
                    <hr class="full-width line-hr">
                    <p class="text-center"><i>Our job is nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan, quis maximus urna venenatis.</i></p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 project-col text-center">
                <owl-carousel-o [options]="projects">
                    <ng-template carouselSlide>
                    <div class="item1">
                            <div class="full-width outer-section">
                                <div class="full-width inner-section">
                                        <div class="inner-image1">
                                            <img src="/assets/images/po017.jpg" alt="">
                                        </div>
                                    <div class="full-width text-center caption">
                                        <h4 >Dream Theme</h4>
                                        <a href="javascript:void(0)">Web Development</a>
                                    </div>
                                    <button class="btn btn-details">Details</button>
                                </div>
                            </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="item1">
                            <div class="full-width outer-section">
                                <div class="full-width inner-section">
                                    <div class="inner-image1">
                                        <img src="/assets/images/por011.jpg" alt="">
                                    </div>
                                    <div class="full-width text-center caption">
                                        <h4 >E-Commerce</h4>
                                        <a href="javascript:void(0)">Web Development</a>
                                    </div>
                                    <button class="btn btn-details">Details</button>
                                </div>
                            </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="item1">
                            <div class="full-width outer-section">
                                <div class="full-width inner-section">
                                    <div class="inner-image1">
                                        <img src="/assets/images/po021.jpg" alt="">
                                    </div>
                                    <div class="full-width text-center caption">
                                        <h4 >Medical App</h4>
                                        <a href="javascript:void(0)">Web Development</a>
                                    </div>
                                    <button class="btn btn-details">Details</button>
                                </div>
                            </div>
                    </div>
                    </ng-template>
                    
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>



<div class="full-width project-talk">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 col-sm-6 col-12">
                <h3 class="text-center">Have a project you'd like to talk about?</h3>
                <hr class="full-width line-hr">
                <p><i>Sed consequat erat vitae odio placerat, vel malesuada mi convallis we can help!</i></p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 col-sm-6 col-12 text-center">
                <button class="btn btn-talk">CONTACT US</button> <button class="btn btn-talk">VIEW SHOWCASE</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>



