    <!-- Footer start -->
    <section class="full-width footer">
        <div class="container">
            <div class="row">
                <div class="full-width">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="full-width footer-nav">
                                <a class="navbar-brand logo" href="index.html">
                                            <img src="/assets/images/s-soft-lg.webp" alt="logo" title="logo">
                                </a>
                                <p class="text-justify">
                                   Sed ut perspiciatis unde om is nerror sit voluptatem accustium dolorem tium totam rem aperam eaque ipsa quae ab illose inntore veritatis
                                </p>
                                <p class="footer-social">
                                    <a target="_blank" href = "#"><img src="/assets/images/facebook.png"></a>
                                    <a target="_blank" href = "#"><img src="/assets/images/instagram.png"></a>
                                    <a target="_blank" href = "#"><img src="/assets/images/twitter.png"></a> 
                                    <a target="_blank" href = "#"><img src="/assets/images/youtube.png"></a>
                                    <a target="_blank" href = "#"><img src="/assets/images/linkedin.png"></a> 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="full-width footer-nav">
                                <h3>Quick Links</h3>
                                <!-- <img src="images/decor-brand.png"> -->
                                <ul class="full-width">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Make Appointments</a></li>
                                    <li><a href="#">Departments</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="full-width footer-nav">
                                <h3>Important Links</h3>
                                <!-- <img src="images/decor-brand.png"> -->
                                <ul class="full-width">
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Return & Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="full-width footer-nav footer-contact">
                               <h3>Contact Us</h3>
                                <!-- <img src="images/decor-brand.png"> -->
                                <ul class="full-width">
                                    <li><a href="javascript:void(0)"><i class="fa fa-phone"></i></a><span> 1800-121-3637</span></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i></a><span> info@example.com</span></li>
                                    <li><a href="javascript:void(0)"><i class="fas fa-map-marker-alt"></i></a><span> 380 St Kilda Road,MelbourneVIC 3004, Australia</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-width footer-credit">
        <div class="container">
             <div class="row full-width">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="footer-credit text-center">
                        <p>Copyright &copy; 2021 All Rights Reserved by <span><a href="https://webizysolutions.com">Webizy IT Solutions</a> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Footer end -->